/* fichier pour le CSS de base (body, balises pour lesquelles on veut toujours la même mise en forme..) */
:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
}
.container{
    display: flex;
}
aside{
    width: 25%;
    height: 100dvh;
    position: sticky;
    top: 0;
    left: 0;
}
main{
    width: 75%;
}