/* fichier pour le CSS de base (body, balises pour lesquelles on veut toujours la même mise en forme..) */
:root {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --primary-color: #474350; 
    --secondary-color: #3B3742; 
    --light-color: #CFD0C5; 
}
body{
    margin: 0;
    overflow: auto;
}
ul, li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: inherit;
    color: inherit;
}
a:hover{
    font-weight: bold;
}
button,
input,
textarea{
    border: none;
}
input,
textarea{
    outline: none;
}
button:hover{
    cursor: pointer;
}